<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <title>cute subjects</title>
</head>
<body>
  <label>
      <input type="checkbox">
      <span class="menu"> <span class="hamburger"></span> </span>
      <ul>
  <h3>Maths</h3>

        <li><a href="{{url_for('maths_addition')}}">addition</a></li>
        <li><a href="{{url_for('maths_multiplication')}}">multiplication</a></li>
        <li><a href="{{url_for('maths_substruction')}}">Substruction</a></li>
        <li><a href="{{url_for('maths_division')}}">Division</a></li>
        <li><a href="{{url_for('maths_exponents')}}">exponents</a></li>
        <li><a href="{{url_for('maths_cube')}}">cube</a></li>

  <h3>English</h3>

      <li><a href="{{url_for('define_words_tests')}}">Define words</a></li>

    <!--  <h3>Physics</h3>-->

      <li><a href="{{url_for('physics_problem')}}">Speed and time</a></li>

      <!--<h3>User policy</h3>-->

    {%if current_user.is_anonymous%}<li><a href="{{url_for('login')}}">login</a></li>
    <li><a href="{{url_for('register')}}">register</a></li>
    {%else:%}
    <li><a href="{{url_for('logout')}}">logout</a></li>
    <li><a href="{{url_for('profile', username=current_user.username)}}">profile</a></li>
    <li><a href="{{url_for('settings')}}">settings</a></li>
    {%endif%}

    </ul>
      </label>
  <header id="test_header"><h4>Cute Subjects</h4>

</header>
{%block content%}
{%endblock%}
<footer>
  CopyRight - 2020
</footer>
</body>
</html>
