{%extends "base.html"%}
{%block content%}
<h1 class="quiz_heading">{{info.title}}</h1>
<main id='main_content'>
<form action="{{url_for('result')}}" method="post">
  <ol>
  {%for i in range(10)%}
  <li>
  <p>{{quiz[i]["question"]}}</p>
      {%for q in range(3)%}

      ---<section class="strieght">

      <input type="radio" name="q_{{i}}" value="{{quiz[i]['options'][q]}}" id="option_{{q}}_{{i}}">

      <label for="option_{{q}}_{{i}}">{{quiz[i]["options"][q]}}</label>

      </section>
      {%endfor%}
      ---</li>
  {%endfor%}
  </ol>
  <input type="submit" value="Mark it">
</form>
</main>
{%endblock%}
