{%extends "base.html"%}
{%block content%}
<article class="">
  <h2>Addition and subsraction</h2>
  <p>In order to do it you need to add or substract every didgit. Remember didgits shuld be from 0 to 9 here is an example:  </p>
<p>
  1
<strong>
  2 3 4
 +4 7 1
 -------
  7 0 5
  </strong>
   8 1
  <strong>
   /9/1 9
  - 2 2 2
  --------
    7 9 7
  </strong>
  key://=cross out
  </p>
  <h2>Muliplication and division</h2>
  <p>In order to do it you need to know timetables:</p>
  <p>1 x 1=1   
     1 x 2=2
     1 x 3=3
     1 x 4=4
     1 x 5=5
     1 x 6=6
     1 x 7=7
     1 x 8=8
     1 x 9=9
     1 x 10=10
     1 x 11=11
     1 x 12=12

     2 x 1=2
     2 x 2=4
     2 x 3=6
     2 x 4=8
     2 x 5=10
     2 x 6=12
     2 x 7=14
     2 x 8=16
     2 x 9=18
     2 x 10=20
     2 x 11=22
     2 x 12=24</p>
</article>
