{%extends "base.html"%}
{%block content%}

{%if error_messege%}
<p>{{error_messege}}</p>
<a href="{{url_for('login')}}">Try agian</a>
{%else%}
<form action="" name="secret_question" method="POST">
  <h4>{{questions.q1}}</h4>
  <label for="q1">Your answer</label><br><input type="text" name="answer_1" id='q1'><br>
  <h4>{{questions.q2}}</h4>
<br>
  <label for="q2">Your answer</label><br><input type="text" name="answer_2" id='q2'>
  <label for="new_password">new password</label><br>
  <input type="password" name="new_password" id="new_password"><br>
  <input type="Submit" name="secret_submit">
  </form>
{%endif%}
{%endblock%}
