{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <label for="secret_1">Slelect a question</label><br>
        <select id="secret_1" name="secret_question_1">
        <option value="What is your favorite color?">What is your favorite color?</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
      </select><br>
      <label for="q1">Your answer</label><br>
      <input type="text" name="answer_1" id='q1' required><br>
      <label for="secret_2">Select a question</label><br>
      <select id="secret_2" name="secret_question_2">
      <option value="What is your favorite color?">What is your favorite color?</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      </select>
      <br>
      <label for="q2">Your answer</label><br><input type="text" name="answer_2" id='q2' required>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
